footer {
    display: flex;
    flex-direction: column;
    background-image: url("../img/backgroundFooter.png");
    background-size: cover;
    background-position: center;
    align-items: center;
    width: 100%;
    min-height: 210px;
    border-top: 10px solid #f1efd2;
}

.rodapeLogo img {
    height: auto;
    max-height: 200px;
    width: auto;
}

.rodapeTexto {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.rodapeTexto a {
    text-decoration: none;
    font-family: "Segoe UI Light", sans-serif;
    font-weight: bold;
    font-size: 1.45rem;
    letter-spacing: 2px;
    color: #f1efd2;
}

.rodapeSuperior {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
    padding: 20px;
}

.rodapeSocial {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.social-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background: none;
    color: #f1efd2;
    border: none;
    border-radius: 5px;
    font-size: 1.45rem;
    cursor: pointer;
}

.social-button:hover {
    color: #0c3927;
}

.social-button i {
    margin-right: 8px;
    font-size: 1.8rem;
}

.rodapeInferior {
    width: 100%;
    background: #0c3927;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-family: "Segoe UI Light";
    font-size: 1rem;
    padding: 15px;
    gap: 10px;
}

.inferior18 {
    color: white;
    padding: 7px;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    footer {
        height: auto;
        text-align: center;
    }
}