.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-image: url("../img/backgroundNav.png");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-bottom: 5px solid #145038;
}

.navbar .button-logo img {
    height: 130px;
    width: auto;
}

.navbar .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.navbar .menu a {
    color: #145038;
    text-decoration: none;
    font-family: "Segoe UI Semibold";
    font-weight: bold;
    font-size: 1.45rem;
    letter-spacing: 2px;
}

.navbar .menu a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
    }

    .navbar .button-logo img {
        height: 80px;
    }
}