.drink-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 40px 15px;
    color: #0c3927;
    font-size: 1.1rem;
    gap: 20px;
    margin-left: 15%;
}

.drink-box img {
    width: 100%;
    max-width: 350px;
    height: auto;
    background-color: black;
    margin-right: 4%;
}
